/************************* DEBUG SETTINGS *************************/

:root {
    --blue: #2ac4df;
    --Red: #b34b4b;
    --Green: #43be57;
    --white: #ffffff;
    --Black: #0e0202;
    --Darkblue: #17217e;




}
nav ul {
list-style: none;
}
nav a {
text-decoration: none;
}
nav a:hover {
text-decoration: underline;
}
body {
    background-color:var(--white);
display: grid;
grid-template-areas:
"header nav"
"main main"
"footer footer";
grid-template-columns: 1fr 2fr;
grid-template-rows: 120px 1fr 60px;
}
header {
grid-area: header;
}
nav {
grid-area: nav;
}
main {
grid-area: main;
}
footer {
grid-area: footer;
}

:root {
    --blue: #2ac4df;
    --Red: #b34b4b;
    --Green: #43be57;
    --white: #ffffff;
    --Black: #0e0202;



}
