/************************* DEBUG SETTINGS *************************/

:root {
    --blue: #2ac4df;
    --Red: #b34b4b;
    --Green: #43be57;
    --white: #ffffff;
    --Black: #0e0202;
    --Darkblue: #17217e;
    --Roze:#f49ac2;
    --Paars: #b790d4;
    --Oranje: #ffd1a1;
}
nav ul {
list-style: none;
}
nav a {
text-decoration: none;
}
nav a:hover {
text-decoration: underline;
}
body {
    background-color:var(--white);
display: grid;
grid-template-areas:
"header header"
"main nav"
"footer footer";
grid-template-columns: 1fr 1fr;
grid-template-rows: 120px 1fr 60px;
}
header{
    font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 50px; 
  color:white;
  background: linear-gradient(90deg,#ffd1a1,#f49ac2,#b790d4 );
  text-shadow: 0 0 10px #ffd1a1, 0 0 20px #f49ac2, 0 0 30px #b790d4d4;
  padding: 30px 32px;
  border-radius: 22px;
  box-shadow: 0 2px 10px black;
  grid-area: header;
}
main{
font-style: normal;
color:var(--Paars);
padding-top: 10px;
grid-area: main ;
}

nav {
grid-area: nav;
color:var(--Roze);
margin-top: 11px;
background-color:var(--white);
}

footer {
grid-area: footer;
color:var(--Oranje);
background-color:var(--white);
margin-top: 13px;
}

nav ul li{
    margin: 15px;
}
table {
border-collapse: collapse
width: auto; 
}
thead th {
background-color:var(--Roze);
color: white
}
tbody td {
border: 1px solid var(--Roze)
}

